<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- No INTERNET required: we only hand URLs to the system browser. -->

    <!-- Package visibility: so we can list other handlers for diagnostics -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="market" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="play.google.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" android:host="play.google.com" />
        </intent>
        <package android:name="com.android.vending" />
        <package android:name="com.android.chrome" />
        <package android:name="org.chromium.chrome" />
        <package android:name="com.brave.browser" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="org.mozilla.fennec_fdroid" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayRedirect">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          Receives Play / market VIEW intents from *other apps* when Android
          resolves those links to us (user chose Always, or we are preferred).
          priority high so we appear competitively in the chooser.
        -->
        <activity
            android:name=".RedirectActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.PlayRedirect.Transparent"
            android:taskAffinity="">

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="market" />
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="play.google.com" />
                <data android:scheme="http" android:host="play.google.com" />
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="market.android.com" />
                <data android:scheme="http" android:host="market.android.com" />
            </intent-filter>
        </activity>
    </application>
</manifest>
